.sidebar li{
    margin-bottom: 1em;
    padding-left: 40px; 
}

.sideBarlink:hover{
    color: #009444;
    text-decoration: none;
}

.sideBarlink{
    color: black;
}

.logoutBtn:hover {
    color: red;
  }
