.app {
  font-family: 'Montserrat', sans-serif;
}

.customFormStyle{
  margin-top: 50px;
  margin-left: 50px;
  width: 400px;
}

.btnSubmit{
  background: #111430;
  color: white;
}

.btnSubmit:hover{
  background: coral;
  color: white;
}

.btnUploadFile{
  background: #DEFFED;
  color: #009444;
}

.dashboardHeaderBg{
  background: #111430;
  color: white;
}

/* For card animation start*/
.trans-card {
  transition: 0.4s;
}

.trans-card:hover {
  transform: translateY(-1rem);
}
/* For card animation end*/

